.btn {
    margin-right: 10px;
    padding: 5px;
    margin-top: 10px;
}

.btn:focus {
    background: lightgrey;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .btn:hover {
        background: lightgrey;
        border-radius: 5px;
    }
}