.formCard {
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.sectionHeader {
    /* position: relative; */
    display: flex;
    align-items: center;
    width: 55vw;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sectionTitle {
    /* padding: 10px; */
    color: var(--text-primary);
    font-size: 1.55rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    /* color: var(--beaver-orange); */
}

#editInfo {
    font-size: 18px;
    margin-left: auto;
}

.dropdownBtn {
    background: darkgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 48vw;
}

.submitBtn {
    border: 1px solid var(--beaver-orange);
    background: var(--beaver-orange);
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    width: 30vw;
}

.submitBtn:hover {
    border: 1px solid var(--beaver-orange);
    background: var(--beaver-orange);
}

.label {
    display: grid;
    grid-template-columns: 15ch auto;
    grid-gap: 1rem;
    grid-auto-flow: row;
    align-items: center;
    padding: 10px 0px;
}

.textInputBox {
    padding: 5px;
    border: none;
    width: 35vw;
    border-bottom: 1px solid lightgrey;
    background: none;
}

@media screen and (max-width: 480px) {
    .formCard {
        width: 100%;
    }

    .sectionHeader {
        width: 100%;
    }
    
    .dropdownBtn {
        width: 100%;
    }

    .submitBtn {
        width: 100%;
    }

    .label {
        grid-template-columns: 10ch auto;
    }

    .textInputBox {
        width: 100%;
    }
}