.table {
    width: 100%;
    background-color: var(--bg-secondary);
}

.table th {
    text-align: center;
    background-color: var(--beaver-orange);
}
  
.table th, .table td {
    border: 1px solid lightgrey;
    padding: 10px;
}

.table li {
    padding: 5px;
}

.sectionHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sectionTitle {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

#addInfo {
    margin-left: 5px;
}

.addInfoContainer {
    font-size: 18px;
    padding-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    left: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.formCard {
    background-color: var(--bg-secondary);
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#closeBtn {
    position: relative;
    display: flex;
    margin-left: auto;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.dropdownBtn {
    background: darkgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 47vw;
}

.submitBtn {
    border: 1px solid var(--beaver-orange);
    background: var(--beaver-orange);
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    width: 30vw;
}

.submitBtn:hover {
    border: 1px solid var(--beaver-orange);
    background: var(--beaver-orange);
}

.label {
    font-size: 18px;
    display: grid;
    grid-template-columns: 15ch auto;
    grid-gap: 1rem;
    grid-auto-flow: row;
    align-items: center;
    padding: 10px 0px;
}

.textInputBox {
    padding: 5px;
    border: none;
    width: 35vw;
    border-bottom: 1px solid lightgrey;
    background: none;
}

@media screen and (max-width: 480px) {
    .formCard {
        top: 5%;
        padding: 25px;
        width: 90%;
    }

    .sectionHeader {
        width: 100%;
    }

    .addInfoContainer {
        width: 50%;
        left: 65%;
    }

    .children {
        padding-top: 20px;
    }
    
    .dropdownBtn {
        width: 100%;
    }

    .submitBtn {
        width: 92%;
    }

    .label {
        grid-template-columns: 10ch auto;
    }

    .textInputBox {
        width: 100%;
    }
}