.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    margin: 15px;
}

.title {
    color: var(--text-primary);
    font-size: 1.25rem;
}

#editInfo {
    margin-left: 5px;
}

.editInfoContainer {
    font-size: 16px;
    padding-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    left: 0;
}

.cardGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg-secondary);
    min-width: 325px;
    padding: 20px;
    border-radius: 10px;
    width: 30vw;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.formCard {
    background-color: var(--bg-secondary);
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#editInfoFormCard {
    top: 15%;
}

.formHeader {
    width: 55vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.formTitle {
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.closeBtn {
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.dropdownBtn {
    background: darkgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 35vw;
}

.label {
    font-size: 18px;
    display: grid;
    grid-template-columns: 10ch auto;
    grid-gap: 1rem;
    grid-auto-flow: row;
    align-items: center;
    padding: 10px 0px;
}

.formInput {
    padding: 10px 0px 10px 5px;
    border: none;
    width: 30vw;
    border-bottom: 1px solid lightgrey;
    background: none;
}

.btns {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#updateInfoSubmitBtn, #cancelInfoSubmitBtn {
    padding: 5px;
    width: 20vw;
    margin: 15px;
}

.submitBtn {
    border: 1px solid var(--beaver-orange);
    background: var(--beaver-orange);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

#feedRecordSubmitBtn {
    width: 30vw;
}

@media screen and (max-width: 480px) {
    .title {
        display: none;
    }

    .formCard {
        top: 5%;
        padding: 25px;
        width: 90%;
    }

    .children {
        padding-top: 20px;
    }
    
    .dropdownBtn {
        width: 100%;
    }

    .submitBtn {
        width: 92%;
    }
}