.label {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.textInputBox {
    padding: 0px 10px;
    margin-left: 10px;
    border: none;
    width: 30vw;
    border-bottom: 1px solid white;
    background: none;
}

@media screen and (max-width: 480px) {
    .textInputBox {
        width: 100%;
    }
}