.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    @media (max-width: 480px) {
        width: 100%;
        height: 100%;
    }
}

.reducedPaddingMain {
    padding: 0px;
}

.formTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--beaver-orange);
}

.formInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.formButton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: var(--beaver-orange);
    color: var(--bg-primary);
    font-weight: bold;
    cursor: pointer;
}

.formLink {
    color: var(--txt-primary);
    text-decoration: none;
    margin-top: 10px;
}