.accountCard {
    border-radius: 5px;
    width: 30vw;
    padding: 10px;
    /* border: 1px solid white; */
}

.accountCardItems {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: var(--text-primary);
}

#btn {
    display: flex;
    flex-direction: row;
}

.accountCardItems:hover {
  background: lightgrey;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .accountCard {
        width: 100%;
    }
}
  