@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  @apply bg-primary;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
  @media (max-width: 480px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 480px) {
    justify-content: space-evenly;
    flex: 1;
  }
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.navTitle {
  @media (max-width: 480px) {
    visibility: collapse;
  }
}

.navIcon {
  @apply text-2xl;
  /* @media (max-width: 480px) {
    @apply text-2xl;
  } */
}