@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #339966;
  --secondary: #39d2c0;
  --tertiary: #ee8b60;
  --alternate: #e0e3e7;
  --txt-primary: #14181b;
  --txt-secondary: #57636c;
  --bg-primary: #f1f4f8;
  --bk-secondary: #ffffff;
  --accent-primary: #4C4B39EF;
  --accent-secondary: #4d39d2c0;
  --accent-tertiary: #4dee8b60;
  --accent-quaternary: #ccffffff;
  --success: #249689;
  --warning: #f9cf58;
  --error: #ff5963;
  --info: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #339966;
    --secondary: #39d2c0;
    --tertiary: #ee8b60;
    --alternate: #262d34;
    --txt-primary: #ffffff;
    --txt-secondary: #57636c;
    --bg-primary: #000000;
    --bk-secondary: #1c1a1a;
    --accent-primary: #4C4B39EF;
    --accent-secondary: #4d39d2c0;
    --accent-tertiary: #4dee8b60;
    --accent-quaternary: #b2262d34;
    --success: #249689;
    --warning: #f9cf58;
    --error: #ff5963;
    --info: #ffffff;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
}

nav {
  background: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  @media (max-width: 480px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 480px) {
    justify-content: space-evenly;
    flex: 1;
  }
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  color: var(--txt-primary);

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.navTitle {
  padding-left: 10px;
  color: var(--txt-primary);
  @media (max-width: 480px) {
    display: none;
  }
}

.navIcon {
  @apply text-2xl;
}

h1 {
  font-size: 20px;
}

main {
  margin: 20px;
}